<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Страница</title>
  </head>
  <body>
    <p><b>{{.Count}}</b> - число пользователей</p>
    <br />
    {{ if .IsAdmin}}
    <p>Вы администратор</p>
    {{ else }}
    <p>Вы пользователь</p>
    {{ end }}
    <br />
    {{ if eq .Count 0}}
    <p>Нет пользователей</p>
    {{ else if lt .Count 10 }}
    <p>Пользователей меньше 10</p>
    {{ else }}
    <p>Пользователей больше 10</p>
    {{ end }}
    <br />
    {{ if and .IsAdmin (eq .Count 42) }}
    <p>BINGO</p>
    {{ end }}
  </body>
</html>
